.mai-ad-unit {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--mai-ad-unit-width);
	margin: auto;
	aspect-ratio: var(--mai-ad-unit-aspect-ratio);
}

.mai-ad-unit[data-label]::before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--mai-ad-unit-label-color, rgba(0, 0, 0, 0.6));
	font-size: var(--mai-ad-unit-label-font-size, 0.9rem);
	font-variant: all-small-caps;
	letter-spacing: 1px;
	content: attr(data-label);
}

@media only screen and (max-width: 727px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-sm, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-sm, unset);
	}
}

@media only screen and (min-width: 728px) and (max-width: 1023px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-md, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-md, unset);
	}
}

@media only screen and (min-width: 1024px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-lg, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-lg, unset);
	}
}

.mai-ad-unit-sticky {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999999;
}

.mai-ad-unit-has-sticky-header,
.mai-ad-unit-has-sticky-footer {
	padding-bottom: calc(var(--mai-ad-unit-aspect-ratio) * 1%) !important;
}

.mai-ad-unit-sticky-header {
	top: var(--body-top, 0);
}

.mai-ad-unit-sticky-footer {
	bottom: 0;
}

.mai-ad-unit-sticky-header::after,
.mai-ad-unit-sticky-footer::after {
	position: absolute;
	width: 100vw;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.1);
	z-index: -1;
	content: "";
}

.mai-ad-unit-sticky-header::after {
	top: 0;
	bottom: 0;
}

.mai-ad-unit-sticky-footer::after {
	top: -28px; /* adds space for Sponsored label */
	bottom: 0;
}

.wprm-recipe {
	overflow: visible !important;
}

.wprm-recipe-instruction-group .mai-ad-unit {
	margin: 36px auto 24px;
}

@media only screen and (min-width: 728px) {

	.wprm-recipe-instruction-group {
		display: grid;
		gap: 0;
		align-items: start;
		grid-template-columns: auto auto;
	}

	.wprm-recipe-instruction-group > *:not(.mai-ad-unit) {
		grid-column-start: 1;
	}

	.wprm-recipe-instruction-group .mai-ad-unit {
		position: sticky;
		top: var(--scroll-margin-top, 0);
		margin: 24px 0 0 24px;
	}
}