.mai-ad-unit {
	position: relative;
	max-width: 728px;
	aspect-ratio: 728/90;
	margin: auto;
	background: rgba(0,0,0,0.1);
}

.mai-ad-unit::before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--mai-ad-unit-label-color, rgba(0, 0, 0, 0.6));
	font-size: var(--mai-ad-unit-label-font-size, 0.9rem);
	font-variant: all-small-caps;
	letter-spacing: 1px;
	content: attr(data-label);
}