.mai-ad-unit {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: var(--mai-ad-unit-max-width);
	margin: auto;
	aspect-ratio: var(--mai-ad-unit-aspect-ratio);
}

.mai-ad-unit[data-label]::before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--mai-ad-unit-label-color, rgba(0, 0, 0, 0.6));
	font-size: var(--mai-ad-unit-label-font-size, 0.9rem);
	font-variant: all-small-caps;
	letter-spacing: 1px;
	content: attr(data-label);
}

@media only screen and (max-width: 639px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-max-width: var(--mai-ad-unit-max-width-sm, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-sm, unset);
	}
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-max-width: var(--mai-ad-unit-max-width-md, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-md, unset);
	}
}

@media only screen and (min-width: 1024px) {
	.mai-ad-unit-container,
	.mai-ad-unit {
		--mai-ad-unit-max-width: var(--mai-ad-unit-max-width-lg, unset);
		--mai-ad-unit-aspect-ratio: var(--mai-ad-unit-aspect-ratio-lg, unset);
	}
}

.mai-ad-unit-sticky {
	position: fixed;
	z-index: 999999;
}

.mai-ad-unit-has-sticky-footer {
	padding-bottom: calc(var(--mai-ad-unit-aspect-ratio) * 1%) !important;
}

.mai-ad-unit-sticky-footer {
	bottom: 0;
	left: 0;
	right: 0;
}

.mai-ad-unit-sticky-footer::after {
	position: absolute;
	top: -48px;
	bottom: 0;
	width: 100vw;
	background: linear-gradient(transparent, rgba(255, 255, 255, 0.8) 36px);
	z-index: -1;
	content: "";
}