.mai-ad-unit-container:not([data-label]):not(:first-child) {
	margin-block-start: var(--mai-ad-unit-margin-block, var(--spacing-md, 24px) 0);
}

.mai-ad-unit-container[data-label]:not(:first-child) {
	margin-block-start: var(--mai-ad-unit-margin-block, var(--spacing-lg, 36px) 0);
}

.mai-ad-unit-container:not(:last-child) {
	margin-block-end: var(--mai-ad-unit-margin-block, 0 var(--spacing-md, 24px));
}

.mai-ad-container {
	--mai-ad-scroll-margin-top: calc(var(--scroll-margin-top, 2em) + 16px);
}

.mai-ad-unit-spacer,
.mai-ad-unit {
	min-height: var(--mai-ad-unit-height, 90px);
}

.mai-ad-unit {
	--mai-ad-unit-data-label: attr(data-label);
	position: relative;
	display: flex;
	justify-content: var(--mai-ad-unit-justify-content, center);
	align-items: var(--mai-ad-unit-align-items, center);
	margin-inline: var(--mai-ad-unit-margin-inline, auto);
}

.mai-ad-unit-debug[data-label] > *:first-child::before,
.mai-ad-unit-log[data-label] > *:first-child::before,
.mai-ad-unit[data-label]:not(:empty) > *:first-child::before {
	display: block;
	width: 100%;
	position: absolute;
	left: 50%;
	bottom: calc(100% + 4px);
	transform: translateX(-50%);
	line-height: 1;
	text-align: center;
	font-size: var(--mai-ad-unit-label-font-size, 0.9rem);
	font-variant: all-small-caps;
	letter-spacing: 1px;
	color: var(--mai-ad-unit-label-color, rgba(0, 0, 0, 0.6));
	content: var(--mai-ad-unit-data-label);
}

.mai-ad-unit-native {
	width: 100%;
	flex: 1 1 100%;
}

.mai-ad-unit[data-unit="native"] {
	width: 100%;
}

@media only screen and (max-width: 727px) {

	.mai-ad-unit-spacer,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-sm, 0px);
		--mai-ad-unit-height: var(--mai-ad-unit-height-sm, 90px);
	}
}

@media only screen and (min-width: 728px) and (max-width: 1023px) {

	.mai-ad-unit-spacer,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-md, 0px);
		--mai-ad-unit-height: var(--mai-ad-unit-height-md, 90px);
	}
}

@media only screen and (min-width: 1024px) {

	.mai-ad-unit-spacer,
	.mai-ad-unit {
		--mai-ad-unit-width: var(--mai-ad-unit-width-lg, 0px);
		--mai-ad-unit-height: var(--mai-ad-unit-height-lg, 90px);
	}
}

.mai-ad-unit-debug,
.mai-ad-unit-log {
	min-width: var(--mai-ad-unit-width, 300px);
}

/* Default to sticky ad inside. */
.mai-ad-unit > * {
	position: sticky;
	top: var(--mai-ad-scroll-margin-top, var(--scroll-margin-top, 0px));
}

.mai-ad-unit-sticky {
	position: fixed;
	left: 0;
	right: 0;
	margin-block: 0 !important;
	z-index: 999999;
}

.mai-ad-unit-sticky-header {
	top: var(--body-top, 0);
}

.mai-ad-unit-sticky-footer {
	bottom: 0;
}

.mai-ad-unit-sticky .mai-ad-unit::after {
	width: 100dvw;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.1);
	z-index: -1;
	content: "";
}

.mai-ad-container.is-sticky,
.mai-ad-unit.is-sticky {
	top: var(--mai-ad-scroll-margin-top);
}

.maipub-entry,
.maipub-row {
	--mai-ad-unit-margin-block: 0;
}

.mai-column:has(.mai-toc) {
	flex-grow: 1;
}

.wprm-recipe {
	overflow: visible !important;
}

.wprm-recipe-ingredients-container.mai-ad-container,
.wprm-recipe-instructions-container.mai-ad-container {
	width: 100%;
}

.wprm-recipe-ingredients-container.mai-ad-container .mai-ad-unit-container,
.wprm-recipe-instructions-container.mai-ad-container .mai-ad-unit-container {
	margin-block-start: 36px;
}

@media only screen and (min-width: 728px) {

	.wprm-recipe-ingredients-container.mai-ad-container,
	.wprm-recipe-instructions-container.mai-ad-container {
		display: grid;
		gap: 0 1em;
		align-items: start;
		grid-template-columns: 1fr auto;
	}

	.wprm-recipe-ingredients-container.mai-ad-container > *:not(.mai-ad-unit-container),
	.wprm-recipe-instructions-container.mai-ad-container > *:not(.mai-ad-unit-container) {
		grid-column: 1;
	}

	.wprm-recipe-ingredients-container.mai-ad-container .mai-ad-unit-container,
	.wprm-recipe-instructions-container.mai-ad-container .mai-ad-unit-container {
		grid-column: 2;
		grid-row: 1 / 99;
		position: sticky;
		top: var(--mai-ad-scroll-margin-top);
	}
}

.content {
	z-index: 1; /* for fixed ads floating over sidebar */
}

.sidebar {
	z-index: 0; /* for fixed ads floating over sidebar */
}

.mai-connatix {
	width: 100%; /* without this it was breaking when shown before-entry-content, no idea why. */
	margin-inline: auto;
	aspect-ratio: var(--mai-connatix-aspect-ratio, 16/9);
}

.mai-connatix:not(:first-child) {
	margin-block-start: var(--spacing-md, 24px);
}

.mai-connatix:not(:last-child) {
	margin-block-end: var(--spacing-md, 24px);
}

/* Mai Engine specific but easier to add here */

/*
for nested light bg blocks inside dark bg. maybe overkill.
the order of these may affect things and cause issues when it's dark inside light, or vice-a-versa.
*/
.has-background,
.has-light-background  {
	--mai-ad-unit-label-color: initial;
}

.has-dark-background  {
	--mai-ad-unit-label-color: white;
}

.entry-wrap > .cnx-main-container {
	margin-block: var(--spacing-md, 24px);
	z-index: 9;
}

.sidebar {
	--mai-ad-unit-align-items: start;
}

/* Placeholders */

.maipub-placeholder {
	display: grid;
	place-items: center;
	width: var(--maipub-placeholder-width, auto);
	height: var(--maipub-placeholder-height, auto);
	background: var(--color-alt);
	font-size: 16px;
	filter: brightness(0.95);
}

.maipub-placeholder__caption {
	display: none;
	line-height: 1.3;
	text-align: center;
	opacity: 0.75;
}

@media only screen and (max-width: 727px) {

	.maipub-placeholder {
		--maipub-placeholder-width: var(--width-mobile);
		--maipub-placeholder-height: var(--height-mobile);
	}

	.maipub-placeholder__caption.mobile {
		display: block;
	}
}

@media only screen and (min-width: 728px) and (max-width: 1023px) {

	.maipub-placeholder {
		--maipub-placeholder-width: var(--width-tablet);
		--maipub-placeholder-height: var(--height-tablet);
	}

	.maipub-placeholder__caption.tablet {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {

	.maipub-placeholder {
		--maipub-placeholder-width: var(--width-desktop);
		--maipub-placeholder-height: var(--height-desktop);
	}

	.maipub-placeholder__caption.desktop {
		display: block;
	}
}
